.contact-info__item-icon-wrapper {
    margin-right: 10px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 5px;
  }
  
  .contact-info__item-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color); 
  }
  